{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>あなたの新しいパスワードを入力（そして確認）してください。</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>パスワードのリセットが失敗しました。</h1>
        <p>このパスワードリセットのリンクは使用済みのため、無効です。新しいパスワードのリセットを申請してください.</p>
    {% endif %}
{% endblock %}
