<ul>
  {% for subject in category.subject_set.all %}
    <li class ="folder linkdiv" itemid="category_{{ subject.id }}">
      <a href="#">
        {{ subject.name }}
      </a>
      {% include "ugosite/category_list/subjects.html" %}
    </li>
  {% endfor %}

  {% comment %} {% for article in category.article_set.all %}
    <li class ="file linkdiv"  itemid="article_{{ article.id }}">
      {% include "model_link.html" with model=article %}
    </li>
  {% endfor %}

  {% for video_genre in category.videogenre_set.all %}
    <li class ="file linkdiv" >
      {% include "model_link.html" with model=video_genre %}
    </li>
  {% endfor %} {% endcomment %}
</ul>