{% extends "base_generic.html" %}

{% block title %}
  <title> Ugosuuにようこそ</title>
{% endblock %}


{% block content %}
  <h2>Ugosuuにようこそ</h2>
  <p>ようこそ、Ugosuuへ。このウェブサイトは<em>大橋いっせい</em>によって開発されています!</p>
  {% comment %} <h3>現在の状況</h3>
  <p>このサイトは次のような記録を持っています：</p>
  <ul>
    <li><strong>プリント:</strong> {{ num_prints }}</li>
    <li><strong>記事:</strong> {{ num_articles }}</li>
    <li><strong>問題:</strong> {{ num_problems }}</li>
    <li><strong>動画:</strong> {{ num_videos }}</li>
    <li><strong>用語:</strong> {{ num_terms }}</li>
  </ul> {% endcomment %}

  <p>
    あなたがこのページを訪れたのは、{{ num_visits }}回目です
  </p>

  {% comment %} <h2>新着記事</h2>
  {% if article_list %}
  <ul>
    {% for article in article_list %}
      <li>
        - {{article.created_date|date:"y/n/j(D) H:i:s"}} : <a href="{{ article.get_absolute_url }}">{{ article.name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>このサイトにはまだ記事がありません。</p>
  {% endif %} {% endcomment %}

  <h2>記事カテゴリ</h2>
  <ul>
    {% for category in category_list %}
      <li>{% include "model_link.html" with model=category %}</li>
    {% endfor %}
  </ul>

  <h2>プリントフォルダ</h2>
  <ul>
    {% for folder in folder_list %}
    <li>{% include "model_link.html" with model=folder %}</li>
    {% endfor %}
  </ul>

  <h2>動画プレイリスト</h2>
  <ul>
    {% for playlist in playlist_list %}
    <li>{% include "model_link.html" with model=playlist %}</li>
    {% endfor %}
  </ul>
{% endblock %}