{% extends "base_generic.html" %}

{% block title %}
  <title> 管理者プロフィール </title>
{% endblock %}

{% block content %}
  {% include "next-prev.html" %}
  
  <h2> 管理者プロフィール </h2>

  <p>
    <ul>
        <li> 2022/10 django、python、正規表現を学び、既存のデータの移行を試す。</li>
        <li> 2022/09 感染ボール、ノートアプリ作りでJS,HTMLへの理解を深めていく。</li>
        <li> 2022/08 MDNの教材で、HTML/CSS/JSの基礎を学ぶ。</li>
        <li> 2022/07 高野山でタオくんに出会い、Scrachに没頭する。</li>
        <li> 2022/06 今まで作ってきたTeX教材の整理、ピクセルアートにはまる。</li>
        <li> 2022/05 西京高校2年生にベクトルを教える</li>
        <li> 2022/04 ManimやBGMを取り入れた動画に挑戦。(表現の自由は解法の自由)</li>
        <li> 2022/03 Manimでアポロニウスの円の表現に挑戦する。</li>
        <li> 2022/02 「動く数学の教科書」という構想を思いつく。Manimを触ってみる。</li>
        <li> 2022/01 GoodNoteで阪大の過去問を解きまくる。</li>
        <li> 2021/12 阪大の過去問を実況しながら解く動画を撮影→放置</li>
        <li> 2021/09 授業演習問題の選定と解答作り。</li>
        <li> 2021/08 数III演習の動画作成で効率化/量産化を試す。</li>
        <!-- <li> 2021/08 撮影と編集を完全に切り分け，いかに質を落とさずに量を増やせるかに挑戦（数学III 特訓）</li> -->
        <li> 2021/07 スクリーンショットを活用したプリント作りを始める．（夏期進学補習）</li>
        <li> 2021/03 3年の進学補習の教材を一から作る．参考にしたのは入試数学の掌握．</li>
        <li> 2021/02 きいねくさんに影響され，蜘蛛の巣図などをTeXで書いて遊び始める．（数学III 微分法）</li>
        <li> 2020/12 進学補習の教材まとめに没頭する．動画化はできずじまい．</li>
        <li >2020/08 毎日配信にチャレンジ．コメント欄による解法交流など，一定の手応えを得る（ベクトル）</li>
        <li> 2020/04 中谷先生の動画作りにハマる．無線マイクなど機材に凝り始める．</li>
        <li> 2020/03 Zoomにハマる．コロナがやってくる</li>
        <!-- <li> 2020/03 Zoomにハマる．</li> -->
        <li> 2020/02 liveにハマる（2020大学数学の問題を解いてみる）</li>
        <li> 2020/01 集中講義で基本から入試問題までをつなげる（通過領域）</li>
        <li> 2019/09 公式証明で別解網羅型動画を作り始める（コーシーシュワルツ・点と直線の距離）</li>
        <li> 2019/05 独自のカリキュラムを組み始める（確率，整数，全称と存在，相加平均相乗平均，解と係数の関係）</li>
        <li> 2019/04 別解紹介動画が評価される（2重根号，円順列）</li>
        <li> 2019/01 校外を強く意識し始める（リクエスト）</li>
        <li> 2018/11 グラフアプリにハマる（軌跡シリーズ）</li>
        <li> 2018/07 大学入試問題も投稿し始める（分配問題・円に内接する四角形）</li>
        <li> 2018/06 リアル授業に夢中でアニメーション動画にハマる（むくち解説シリーズ）</li>
        <li> 2018/04 移動先の生徒に期待してホワイトボードの前で深掘り解説（因数分解，場合の数）</li>
        <li> 2018/03 聞く人が聞きやすい動画編集をやっと意識し始める</li>
        <li> 2018/01 ヨビノリに触発されてネタ動画を作ってしまう（階差数列）</li>
        <li> 2018/01 ブロックを使った動画に凝ってみる</li>
        <li> 2017/07 長岡先生の影響を受けてゆっくり解説にハマる（図形と方程式の基本）</li>
        <li> 2017/04 サクシードの重要問題を解説し始める</li>
        <li> 2016/12 手書きから動画作成スタート</li>
        <li> 2016/04 初めて高1を担当する</li>
        <li> 2015 週1の演習の授業で質問コーナーを作る．放課後の生徒対応にハマる．</li>
    </ul>
  </p>
  
{% endblock %}
