{% extends "base_generic.html" %}

{% block title %}
  <title>単元から</title>
{% endblock %}



{% block folders %}
  <h4>単元から</h4>

  <ul>
    {% for category in category_list %}
    <li class="folder linkdiv" itemid="{{ category.id }}">
      <a href="#">
        {{ category }}
      </a>
      {% include "ugosite/category_list/subjects.html" with model=category %}
    </li>
    {% endfor %}
  </ul>

{% endblock %}

{% block scripts %}
  {% include "category_system.html" with model=category %}
{% endblock %}

